    @import 'header.css';
    @import'service.css';
    @import'iphone.css';
    @import'work.css';
    @import'footer.css';
    body {
        max-width: 100%;
        max-height: 100%;
        font-family: 'Raleway', sans-serif;
    }
    
    .container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }
    
    .main {
        height: 2182px;
        background-color: white;
    }
